.header {
    display: flex;
    justify-content: space-between;
  }
  

  .header__logo {
    width: 100px;
    margin: 20px;
  }

  .header__button {
    width:150px;
    height:40px;
    cursor: pointer;
    border-radius:8px ;
    border: none;
    background-color: aquamarine;
    margin: 20px ;
  }
  
  